body{
    background-color: #2e2e2e;
    color: #d4d4d4;
    font-family: sans-serif;
}

.hide{
    display:none;
}


/** Node Styles **/
/*.node:before{
    content:attr(title) " ";
    display: block;
    border-top-left-radius:.75em;
    border-top-right-radius:.75em;
    background-color:#6e6e6e;
    padding: .3em .5em;
    margin:-.1em -.3em 0.2em;
}*/
.node{
    background-color: #4e4e4e;
    border-radius: .75em;
    display: inline-block;
    padding:0;
    position:absolute;
}
.node .nodeName{
    display: block;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
    background-color: #6e6e6e;
    padding: .3em .5em;
    margin: 0 0 .5em;
    border: 0;
    color: #d4d4d4;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
.output,
.connection:after{
    position:absolute;
    border:solid 1px #dedede;
    background-color:#2e2e2e;
    width:0.5em;
    height:0.5em;
    border-radius:0.5em;
}
.node.connected > .output,
.connection.filled:after{
    border:solid 1px transparent;
    background-color:#aeaeae;
}
.node > .output:hover,
.connection:hover:after{
    border-color:red;
}
.output{
    left: -.5em;
    top:1em;
    cursor: pointer;
}
.connection{
    width:100%;
    position:relative;
    padding-right:0.5em;
    cursor:pointer;
}
.connection:after{
    content:"";
    right:-.5em;
    top:0.25em;
}
.nodeInputGroupContainer{
    padding: 0 .5em .5em;
}

svg{
    position:absolute;
    top:0px;
    left:0px;
    z-index:-100;
    width:100%;
    height:100%;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #6e6e6e;
    padding: 0.3em 0;
    z-index:999;
    border:2px solid #ababab;
    border-width:0 0px 2px;
}
.nedTitle{
    font-size: 1.2em;
}
.nodeListContainer{
    float:left;
    top: 6px;
    margin-left:5%;
    text-align:left;
}
.addNode{
    color: #d4d4d4;
    border-radius: 20px;
    background-color: #6e6e6e;
    width: 20px;
    font-size: 1em;
    border: 2px solid #ababab;
    border-width: 2px;
    text-align: center;
    text-decoration: none;
    padding: 0;
    cursor:pointer;
}
.nodeList{
    position: absolute;
    background-color: #6e6e6e;
    border: 1px solid #ababab;
    border-top: 0;
    margin-top: 5px;
}
.nodeList .nodeListItem{
    padding: .2em .8em;
    cursor:pointer;
}
.nodeList .nodeListItem:hover{
    background-color:#ababab;
    color:#333;
}

/** Input Groups **/
.nodeInputGroup{
    font-size:.85em;
    position:relative;
}
.nodeInputGroup:before{
    content: attr(title) " ";
    display: block;
    border-bottom: 1px solid #777;
    margin-bottom: .3em;
}
.addNodeInputButton{
    position: absolute;
    top:0;
    right:.5em;
    cursor:pointer;
}
.addNodeInputButton:before{
    content: "+";
    display: block;
}